html, body {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: $font-family-standard;
    background-color: $color-light;
    color: $color-font-standard;
    font-size: $font-size;
    word-spacing: $word-spacing;
}