// Font
$font-family-standard: 'Montserrat', sans-serif;
$font-size: 16px;
$line-height: 12px;
$word-spacing: 2px;
$font-style: normal;

// Text Colors
$color-font-standard: #333333;
$color-font-disabled: #8c8c8c;
$color-font-subdued: #6d7175;

//colors
$color-light: #eee;
$color-white: #fff;
$color-border: #cad1d7;
$color-black: #000;

//backgroud-color
$background-color-green1:   #378B7D;
$background-color-green2:   #639d25;
$background-color-green3:   #427768;