<div class="h-100 logo-screen">
    <img [hidden]="loading" (load)="onLoad()" src="../../../assets/images/pokemongo.jpeg" class="home-img" alt="">
</div>
<div class="h-100 logo-mobile">
    <img [hidden]="loading" (load)="onLoad()" src="../../../assets/images/pokemon-mobile.jpeg" class="home-img" alt="">
</div>
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<app-navbar></app-navbar>
<div class="container-fluid home-page green-background pt-3">
    <div class="row d-flex justify-content-center px-2">
        <div class="col-md-3 col-lg-2 my-3" style="height: 300px; width: 200px;"
    *ngFor="let poke of pokeUrlList">
            <div class="h-100 d-flex justify-content-center align-items-center border rounded p-2">
                <div class="row text-center">
                    <div class="col-12" style="height: 130px">
                        <img [src]="poke.url" alt="" style="width: 100px;">
                    </div>
                    <div class="col-12 mt-3">
                        <p class="text-capitalize font-weight-bolder text-light">{{poke.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>