<div class="h-100 logo-screen">
    <img [hidden]="loading" (load)="onLoad()" src="../../../assets/images/pokemongo.jpeg" class="home-img" alt="">
</div>
<div class="h-100 logo-mobile">
    <img [hidden]="loading" (load)="onLoad()" src="../../../assets/images/pokemon-mobile.jpeg" class="home-img" alt="">
</div>
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<app-navbar></app-navbar>
<div class="container-fluid home-page green-background pt-3">
    <div class="d-flex justify-content-center align-items-center border" style="height: 300px; width: 200px;">
        <img [src]="pokeImg" alt="" style="width: 100px;">
    </div>
</div>